.position-container:after {
	align-items: center;
	border-radius: 50%;
	display: flex;
	height: 2em;
	justify-content: center;
	margin: 0 auto;
	position: relative;
	top: -1em;
	width: 2em;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: inherit;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
}

.position-container.experience:after {
	background-color: map-get($colors, "blue");
	color: #FFF;
	content: "\f0b1";
}

.position-container.education:after {
	background-color: map-get($colors, "black");
	color: #FFF;
	content: "\f19d";
}

.position-container.volunteerism:after {
	background-color: map-get($colors, "deeporange");
	color: #FFF;
	content: "\f0c0";
}