$imgwidth: 128px;

.group {
  height: 128px;
  width: 128px;
  padding:0;
  margin:0;
  border-radius:10%;
  overflow:hidden;
  list-style-type:none;
  display:flex;
  flex-flow: column wrap;
  align-items:center;
}

.group li {
  display:flex;
  overflow:hidden;
  justify-content:center;
  align-items:center;
}

.group li img {
  min-width:128px;
  min-height: 128px;
}

.group li:only-child {
  width: 100%;
}

.group li:nth-last-child(2) {
  width:50%;
  order: 1;
  //flex: 0 0 50%;
}

.group li:nth-last-child(2) ~ li:nth-child(2) {
  width:50%;
  order: 2;
  //flex: 0 0 50%;
}

.group li:nth-last-child(3) {
  width:50%;
  order: 1;
  flex: 0 0 100%;
}

.group li:nth-last-child(3) ~ li:nth-child(2) {
  width:50%;
  order: 2;
  flex: 0 0 50%;
}

.group li:nth-last-child(3) ~ li:nth-child(3) {
  width:50%;
  order: 3;
  flex: 0 0 50%;
}

.group li:nth-last-child(4) {
  width:50%;
  order: 1;
  flex: 0 0 50%;
}

.group li:nth-last-child(4) ~ li:nth-child(2) {
  width:50%;
  order: 2;
  flex: 0 0 50%;
}

.group li:nth-last-child(4) ~ li:nth-child(3) {
  width:50%;
  order: 3;
  flex: 0 0 50%;
}

.group li:nth-last-child(4) ~ li:nth-child(4) {
  width:50%;
  order: 4;
  flex: 0 0 50%;
}

/*

If over 4 children, you can display some other
content (like a user count) in the :last-child.

*/
.group li:nth-last-child(5),
.group li:nth-last-child(5) ~ li:not(:last-child)
 {
   display:none;
}





/** BORING STUFF BELOW **/
body {
  margin:0;
  padding:0;
  background-color:#FAFAFA;
}

body > div {
  margin-top:1em;
  text-align:center;
}
body > div:first-of-type {
  display:flex;
  min-height:200px;
  justify-content:center;
  align-items:center;
  margin:0;
}
ul {
  margin: 0 1em;
}