$imgsize: 128px;

.group {
  height: $imgsize;
  width: $imgsize;
  padding:0;
  margin:0;
  border-radius:10%;
  overflow:hidden;
  list-style-type:none;
  display:flex;
  flex-flow: column wrap;
  align-items:center;
  user-select:none;
}

.group li {
  display:flex;
  overflow:hidden;
  justify-content:center;
  align-items:center;
  align-content: center;
}

.group li img {
  width: $imgsize;
  height: $imgsize;
  min-width: $imgsize;
  min-height: $imgsize;
}

/* One Child */

.group li:only-child {
  width: 100%;
}

/* Two Children */

.group li:nth-last-child(2) {
  width:50%;
  order: 1;
}

.group li:nth-last-child(2) ~ li:nth-child(2) {
  width:50%;
  order: 2;
}

/* Three children */

.group li:nth-last-child(3) {
  width:50%;
  order: 1;
  flex: 0 0 100%;
}

.group li:nth-last-child(3) ~ li:nth-child(2) {
  width:50%;
  order: 2;
  flex: 0 0 50%;
}

.group li:nth-last-child(3) ~ li:nth-child(3) {
  width:50%;
  order: 3;
  flex: 0 0 50%;
}

/* Four children */

.group li:nth-last-child(4):nth-child(1) {
  width:50%;
  order: 1;
  flex: 0 0 50%;
}

@for $i from 2 through 4 {
  .group li:nth-last-child(4) ~ li:nth-child(#{$i}) {
    width:50%;
    order: #{$i};
    flex: 0 0 50%;
  }
}

.group li:nth-last-child(5) {
  width:50%;
  order: 1;
  flex: 0 0 50%;
}

@for $i from 2 through 3 {
  .group li:nth-last-child(5) ~ li:nth-child(#{$i}) {
    width:50%;
    order: #{$i};
    flex: 0 0 50%;
  }
}

.group li:nth-last-child(5) ~ li:nth-child(4) {
  display:none;
}

  .group li:nth-last-child(5) ~ li:nth-child(5) {
    width:50%;
    order: 4;
    flex: 0 0 50%;
  }




/** BORING STUFF BELOW **/
body {
  margin:0;
  padding:0;
  background-color:#FAFAFA;
}

body > div {
  margin-top:1em;
  text-align:center;
}
body > div:first-of-type {
  display:flex;
  min-height:200px;
  justify-content:center;
  align-items:center;
  margin:0;
}
ul {
  margin: 0 1em;
}

.group {
  box-shadow: 3px 3px 10px rgba(0,0,0,.35);
}